body{
    background-color: rgba(255, 167, 140, 0.696);
}
.salom{
    
   margin-left: 80px;
   margin-top: 10px;
   border: 2px solid;
    

}
.valekum{
    margin-top: -300px;
    margin-left: 405px;
    border: 2px solid;
}
.xayr{
    margin-top: -310px;
    margin-left: 730px;
    border: 2px solid;
    
    
    
}