.bosh a {
  margin-left: 20px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.jahon a {
  margin-left: 200px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Iqtisodiyot a {
  margin-left: 260px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Jamiyat a {
  margin-left: 357px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Fan-Texnika a {
  margin-left: 430px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Sport a {
  margin-left: 540px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Business a {
  margin-left: 600px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
}

.Audio a {
  margin-left: 730px;
  position: absolute;
  top: 12px;
  color: black;
  font-size: larger;
  text-transform: unset;
}

.shaxarlar button {
  color: white;
  font-size: 16px;
  background-color: #0C2F75;
  margin-top: 1px;
}

.qutti1 {
  width: 400px;
  height: 268px;
  margin-top: 10px;
}
.qutti1 img {
  width: 400px;
  margin-top: 1px;
}
.qutti1 .kichikqutti {
  width: 400px;
  height: 269px;
  margin-left: 401px;
  position: absolute;
  top: 77px;
  font-size: larger;
  background-color: #EFF2F8;
}

.tana img {
  width: 200px;
  margin-top: 50px;
}
.tana p {
  position: absolute;
  top: 440px;
  left: 220px;
}

.box img {
  width: 250px;
  position: absolute;
  top: 390px;
  left: 490px;
}
.box p {
  margin-left: 750px;
  margin-top: -120px;
}

.card {
  margin-left: 820px;
  margin-top: -270px;
}

body {
  background-color: #ffffff;
}

.kor {
  width: 200px;
  height: 400px;
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: 100px;
}

.rangi {
  width: 1060px;
  height: 600px;
  position: absolute;
  top: 600px;
  background-color: #F0F0F0;
}
.rangi h2 {
  color: #0C2F75;
  margin-top: 0px;
}

.keraksiz {
  width: 190px;
  height: 105px;
  border: 1px solid;
  position: absolute;
  left: 50px;
  background-color: #0C2F75;
}

.rasim {
  position: absolute;
  top: 85px;
  left: 30px;
}

.p2 {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 130px;
  top: 270px;
  color: #0C2F75;
}

.qisim2 {
  position: absolute;
  width: 200px;
  height: 400px;
  left: 450px;
  top: 129px;
  background-color: #ffffff;
}
.qisim2 img {
  position: absolute;
  top: -40px;
  left: -65px;
}

.keraksiz2 {
  width: 190px;
  height: 105px;
  border: 1px solid;
  position: absolute;
  left: -45px;
  background-color: #0C2F75;
}

.p3 {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 480px;
  top: 270px;
  color: #0C2F75;
}

.qisim3 {
  position: absolute;
  width: 200px;
  height: 400px;
  left: 800px;
  top: 129px;
  background-color: #ffffff;
}
.qisim3 img {
  position: absolute;
  top: -40px;
  left: -65px;
}

.keraksiz3 {
  width: 190px;
  height: 105px;
  border: 1px solid;
  position: absolute;
  left: -45px;
  background-color: #0C2F75;
}

.p4 {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 825px;
  top: 270px;
  color: #0C2F75;
}

.yangi {
  width: 1060px;
  height: 550px;
  background-color: #c7c5f6;
  margin-top: 730px;
}
.yangi .chi1 {
  margin-left: 500px;
  margin-top: 14px;
}
.yangi .fto {
  width: 450px;
  height: 400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 1300px;
  left: 50px;
  background-color: #F0F0F0;
}
.yangi .p22 {
  margin-left: 720px;
  margin-top: -100px;
}
.yangi .p23 {
  margin-left: 720px;
  margin-top: 100px;
}
.yangi .feng {
  position: absolute;
  left: 510px;
  top: 1430px;
}
.yangi .p24 {
  margin-left: 720px;
  margin-top: 90px;
}
.yangi .uy {
  position: absolute;
  left: 509px;
  top: 1575px;
}
.yangi .p25 {
  margin-left: 720px;
  margin-top: 90px;
}